<div id="footer">
	<div class="container">
		<div class="row">
			<div class="push-cl-2 cl-2">
				<h5>Société</h5>
				<ul>
					<li><%= link_to 'Blog', 'http://blog.mobile-d-occaz.fr', title: 'Blog', target: '_blank' %></li>
					<li><% link_to 'A propos', about_path, title: 'A propos' %></li>
					<li><%= link_to 'Contact', contact_path, title: 'Contact' %></li>
					<li><%= link_to 'FAQ', faq_path, title: 'FAQ' %></li>
				</ul>
			</div>
			<div class="cl-2">
				<h5>Légale</h5>
				<ul>
					<li><%= link_to 'CGU', terms_path, title: 'Conditions Générales d\'Utilisation' %></li>
					<!-- <li><% link_to 'CGV', cgv_path, title: 'Conditions Générales de Vente' %></li> -->
					<li><%= link_to 'Confidentialité', privacy_path, title: 'Politique de confidentialité' %></li>
				</ul>
			</div>
			<div class="push-cl-2 cl-3">
				<h5>Réseaux sociaux</h5>
				<ul class="social">
					<li><a target="_blank" href="https://www.facebook.com/mobiledoccaz" class="icon-footer icon-facebook" title="Facebook"></a></li>
					<li><a target="_blank" href="https://twitter.com/mobiledoccaz" class="icon-footer icon-twitter" title="Twitter"></a></li>
					<li><a target="_blank" href="https://plus.google.com/117817770911874034817" class="icon-footer icon-google" title="Google Plus"></a></li>
					<li><a target="_blank" href="https://www.linkedin.com/company/mobile-d%27occaz" class="icon-footer icon-linkedin" title="LinkedIn"></a></li>
				</ul>

				<span id="copyright">&copy; Mobile d'occaz</span>
			</div>
		</div>
	</div>
</div>