<title><%= print_meta_title %></title>
<meta name="description" content="<%= print_meta_description %>">
<meta name="keywords" content="<%= print_meta_keywords %>">
<link rel="image_src" href="<%= print_meta_image_url %>">

<% if @meta[:cannonical_url] %>
	<link rel="canonical" href="<%= raw @meta[:cannonical_url] %>" />
<% end %>

<% if @meta[:no_index] %>
	<meta name="robots" content="noindex,follow">
<% else %>
	<meta name="robots" content="index,follow">
<% end %>

<link href="https://plus.google.com/117817770911874034817" rel="publisher" />


<meta name="twitter:site" content="@mobiledoccaz" />
<meta name="twitter:creator" content="@mobiledoccaz" />
<meta name="twitter:domain" content="<%= request.host %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="<%= raw(@meta[:cannonical_url] || request.url) %>" />
<meta name="twitter:title" content="<%= print_meta_title %>" />
<meta name="twitter:description" content="<%= print_meta_description %>" />
<meta name="twitter:image" content="<%= print_meta_image_url %>" />

<meta property="og:site_name" content="<%= t('meta.title.global') %>" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= raw(@meta[:cannonical_url] || request.url) %>" />
<meta property="og:title" content="<%= print_meta_title %>" />
<meta property="og:description" content="<%= print_meta_description %>" />
<meta property="og:image" content="<%= print_meta_image_url %>" />
