<div id="post_menu">
	<div class="container">
		<div class="row">
			<div class="cl-12">
				<ul>
					<li class="jt-panel-label">
						<a href="#" title="<%= t '.menu_1' %>">1. <%= t '.menu_1' %></a>
					</li>
					<li class="jt-panel-label">
						<a href="#" title="<%= t '.menu_1' %>">2. <%= t '.menu_2' %></a>
					</li>
					<li class="jt-panel-label">
						<a href="#" title="<%= t '.menu_1' %>">3. <%= t '.menu_3' %></a>
					</li>
					<li class="jt-panel-label">
						<a href="#" title="<%= t '.menu_1' %>">4. <%= t '.menu_4' %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>